    @media screen and (max-width: 480px) {
        body {
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
        }
        header,
        #h3,
        nav,
        main,
        footer,
        section {
            margin: 1% auto;
        }
        header,
        footer {
            background-color: #1238ED;
            color: #ffffff;
            border-radius: 0px;
        }
        header {
            height: 80px;
            margin-bottom: 200px;
            padding-left: 10px;
        }
        h1 {
            font-family: 'Righteous', cursive;
            color: #ffffff;
        }
        h2 {
            margin-left: 15px;
        }
        hr {
            color: #12A5ED;
        }
        ul li {
            margin-left: -10px;
        }
        a {
            color: #045c4d;
        }
        a:hover {
            color: #1b6e0a;
        }
        a:visited {
            color: #ED1238;
        }
        img {
            height: 150px;
            margin-top: 118px;
            margin-right: 23px;
            border: none;
            box-shadow: 7px 7px 15px rgb(32, 31, 31);
        }
        section {
            position: fixed;
            margin: 2% auto;
            top: 5%;
            right: 29%;
        }
        footer {
            height: 98px;
            font-size: 12px;
            text-align: center;
            padding: 10px
        }
    }