@media only screen and (min-width: 60em) {
    .header {
        margin-bottom: 0px;
    }
    picture {
        margin-left: 14%;
    }
    .center>div {
        margin-left: 2px;
    }
    .navigation {
        box-shadow: 0px 5px 6px gray;
    }
    .navigation li:first-child {
        display: none;
    }
    main {
        margin-top: 0px;
        margin-left: 11%;
        margin-right: 11%;
    }
}