#message {
    background-color: #ffb703;
    padding: 10px 9% 10px 9%;
    margin: 5px 0% 5px 0%;
    text-align: center;
}

div.showme {
    display: block;
}

div.hideme {
    display: none;
}

body {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #023047;
}

.header,
footer {
    background-color: #023047;
}

.header {
    display: flex;
    height: 120px;
}

footer {
    height: 35px;
    text-align: center;
    padding: 15px;
    font-size: 0.8rem;
}

img {
    width: 80px;
    margin: 20px 20px 15px 20px;
}

h1,
div,
footer {
    color: #8ecae6;
}

h1 {
    font-family: 'Syncopate', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffb703;
}

.center {
    display: grid;
    grid-template-columns: 1fr;
}

img {
    margin-left: 37px;
}

.center>h1 {
    margin-bottom: -5px;
    margin-top: 35px;
}

.center>div {
    margin-top: -15px;
    margin-left: 30px;
}

nav button {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #023047;
    padding: 6px;
}

nav {
    background-color: #219ebc;
    box-shadow: 0 2px 5px gray;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul.hide {
    display: none;
}

nav ul li a {
    display: block;
    color: #ffb703;
    padding: .8rem 2%;
    text-decoration: none;
    font-size: 1em;
    font-weight: 900;
    font-family: 'Montserrat Alternates', sans-serif;
    text-shadow: 2px 2px 5px #023047;
}

nav a:hover {
    background-color: #023047;
    color: #8ecae6;
}

.active {
    background-color: #ffb703;
    color: #023047;
    text-shadow: none;
}

a {
    text-decoration: none;
}

main {
    margin: 18px;
}

main>div {
    color: #023047;
    border: 2px solid #219ebc;
    border-radius: 5px;
    padding: 10px;
    margin: 8px;
}

h2 {
    color: #fb8500;
    font-family: 'Montserrat Alternates', sans-serif;
    text-shadow: 1px 2px #023047;
    margin-left: 10px;
}

h3 {
    color: #023047;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-left: 10px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.division,
textarea {
    margin: 10px 0px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid#8ecae6;
}

legend {
    color: #fb8500;
    padding: 3px 2%;
}

input {
    margin: 10px 0px;
}

label {
    text-align: left;
}

.top {
    display: block;
    padding-top: 15px;
    color: #fb8500;
}

.sregion {
    color: #fb8500;
    margin-top: 15px;
}

.sregion1 {
    color: gray;
    ;
}

.top input,
.top select {
    display: block;
    font-size: 16px;
    border: 1px solid #023047;
    border-radius: 4px;
    padding: 8px;
    color: gray;
    width: 92%;
    max-width: 20rem;
    background-color: #d0e2eb;
}

.sbs {
    display: block;
    padding-top: 15px;
    color: #fb8500;
}

.top input .severity {
    width: 80%;
}

form fieldset label input.send {
    border: none;
    background-color: #fb8500;
    font-family: 'Syncopate', sans-serif;
    color: white;
    border-radius: 5px;
    padding: 10px 5px;
    margin: 15px 0px;
    width: 100%;
    max-width: 20rem;
}

.required:required {
    border-left: 6px solid #ffb703;
}

.required:required:valid {
    border-left: 6px solid #023047;
}

.required {
    color: red;
}

#severity {
    width: 50%;
}

.severity {
    display: flex;
    align-items: center;
    padding-top: 15px;
    color: #fb8500;
}

#ratingvalue {
    margin: 0 15px;
}

textarea {
    color: gray;
}