/*font-family: 'Lato',
sans-serif;
font-family: 'Montserrat',
sans-serif;
font-family: 'Shadows Into Light',
cursive;

}*/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #264653;
}

header {
    background-color: #264653;
}

header picture img {
    width: 100px;
}

button {
    width: 40%;
    padding: 10px;
    margin-top: 35px;
    margin-right: 30px;
    float: right;
    border-radius: 5px;
    background-color: #f4a261;
    border: #f4a261;
    box-shadow: 2px 2px 5px #1a1818;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 900;
    color: #264653;
}

nav button {
    width: 10%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #264653;
    padding: 6px;
    box-shadow: none;
    margin-top: 2px;
    margin-right: 25px;
}

nav button {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #264653;
    padding: 6px;
}

nav {
    background-color: #e76f51;
    box-shadow: 0 2px 5px gray;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul.hide {
    display: none;
}

nav ul li a {
    display: block;
    color: #f5bb8b;
    padding: .8rem 2%;
    text-decoration: none;
    font-size: 1em;
    font-weight: 900;
    font-family: 'Montserrat Alternates', sans-serif;
    text-shadow: 2px 2px 5px #264653;
}

nav a:hover {
    background-color: #264653;
    color: #e76f51;
}

.active {
    background-color: #f4a261;
    color: #264653;
    text-shadow: none;
}

a {
    text-decoration: none;
}

main {
    margin: 18px;
}

.titleOne,
.titleTwo,
.titleThree {
    font-family: 'Shadows Into Light', cursive;
}

.titleOne {
    color: #e76f51;
    text-shadow: 2px 2px #264653;
}

.titleTwo {
    color: #2a9d8f;
    text-shadow: 2px 2px #264653;
}

.titleThree {
    color: #e9c46a;
    text-shadow: 2px 2px #e76f51;
}

.contOne,
.contTwo,
.contThree {
    padding: 15px;
}

.contTwo {
    background-color: #f4a261;
}

.contThree {
    background-color: #264653;
    margin-top: 10px;
    color: #e9c46a;
}

footer {
    height: 100px;
    background-color: #e76f51;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-size: 11px;
    padding: 10px;
    margin-top: 10px;
    color: #264653;
}

footer a {
    color: #2a9d8f;
}

footer a:hover {
    color: #080808;
}

footer a:visited {
    color: #ffffff;
}

.icons img {
    width: 30px;
    margin: 2px;
}

.socialMedia {
    margin-top: 35px;
    position: absolute;
}

.icons {
    position: absolute;
    left: 120%;
    bottom: -36px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}