@media only screen and (min-width: 37.5em) {
    header picture img {
        margin: 20px 20px 15px 110px;
    }
    header {
        margin: none;
    }
    h1 {
        font-size: 1.7rem;
    }
    nav button {
        display: none;
    }
    nav {
        padding-left: 3%;
    }
    nav ul li {
        float: left;
    }
    nav ul.hide {
        display: block;
    }
    nav ul li a {
        font-size: 1em;
        padding: .8rem .4rem;
    }
    h2 {
        font-size: 1.6rem;
        margin-left: -25px;
    }
    h3 {
        font-size: 1rem;
        margin-left: -20px;
    }
    p {
        font-size: 1.1rem;
    }
    main {
        margin-left: 5%;
        margin-right: 5%;
    }
    .hero img {
        width: 100%;
        margin: 5px 0% 5px 0%;
    }
    .hero {
        box-shadow: 0 2px 5px rgb(36, 35, 35);
    }
    .towns {
        display: flex;
        flex-wrap: wrap;
        background-color: #c3dfec;
        box-shadow: 0 2px 5px rgb(36, 35, 35);
        margin: 10px 0px;
    }
    main section {
        margin: 5%;
        display: flex;
        flex-direction: row;
    }
    .italics {
        margin-left: 60%;
    }
    .towns img {
        margin: 30px;
        width: 50%;
        box-shadow: 0 5px 8px rgb(36, 35, 35);
    }
    .contentReverse {
        flex-direction: row-reverse;
    }
    .container {
        width: 85%;
        margin: 1% 4%;
        box-shadow: 0 2px 5px gray;
    }
    .container picture img {
        width: 65%;
        margin: 20px 13% 20px 17%;
        box-shadow: 0 2px 5px rgb(36, 35, 35);
    }
    .container p {
        margin-left: 3%;
    }
    .info h3,
    p {
        text-align: left;
        margin-left: 10%;
    }
    .info p {
        margin-top: 5px;
    }
    .info h3 {
        font-size: 1.6rem;
    }
    .map img {
        width: 60%;
        margin-left: 10%;
        margin-top: 4%;
        margin-bottom: 5%;
    }
    .icons {
        position: absolute;
        bottom: 35px;
        left: 72%;
    }
    .icons img {
        width: 21%;
    }
}