@media only screen and (min-width: 60em) {
    .header {
        margin-bottom: 0px;
    }
    picture {
        margin-left: 10%;
    }
    .center>div {
        margin-left: 2px;
    }
    nav button {
        display: none;
    }
    nav {
        padding-left: 24%;
    }
    nav ul li {
        float: left;
    }
    nav ul.hide {
        display: block;
    }
    nav ul li a {
        font-size: 1.2em;
        padding: .6rem .7rem;
    }
    main,
    footer {
        margin-top: 0px;
    }
    #severity {
        width: 20%;
    }
    textarea {
        width: 80%;
        margin-left: 2%;
    }
    form fieldset label input.send {
        margin: 15px 0px 15px 57%;
        width: 28%;
    }
}