@media only screen and (min-width: 37.5em) {
    header picture img {
        margin: 20px 20px 15px 78px
    }
    .center>h1 {
        font-size: 1.3rem
    }
    .center>.motto {
        margin-left: 30px
    }
    nav button {
        display: none
    }
    nav {
        padding-left: 3%
    }
    nav ul li {
        float: left
    }
    nav ul.hide {
        display: block
    }
    nav ul li a {
        font-size: 1em;
        padding: .8rem .4rem
    }
    p {
        font-size: 15px
    }
    main {
        margin-left: 10%
    }
}