@media only screen and (min-width: 37.5em) {
    header picture img {
        margin: 20px 20px 15px 78px;
    }
    h1 {
        font-size: 1.7rem;
    }
    .center>div {
        margin-top: -15px;
        margin-left: 60px;
    }
    nav button {
        display: none;
    }
    nav {
        padding-left: 3%;
    }
    nav ul li {
        float: left;
    }
    nav ul.hide {
        display: block;
    }
    nav ul li a {
        font-size: 1em;
        padding: .8rem .4rem;
    }
    p {
        margin: 15% 0% 15% 9%;
    }
}