    @media only screen and (min-width: 60em) {
        header,
        footer {
            border-radius: 5px 45px;
        }
        header,
        nav,
        main,
        footer {
            margin-left: 5%;
            margin-right: 5%;
        }
        nav,
        nav a:hover,
        .active {
            padding: 0.5em;
        }
        nav ul li a {
            font-size: 1.3em;
            font-weight: 600;
        }
        header {
            height: 50px;
        }
        picture img {
            width: 30%;
        }
        footer {
            height: 5px;
        }
        h1 {
            font-size: 3em;
        }
        h2,
        h3 {
            font-size: 2em;
            font-weight: 900;
        }
        main img {
            border-radius: 5px 45px;
        }
    }